#contactBanner{
	background: url(../img/banners/txiFront.jpg) fixed; 
	background-size: 100%;
	background-position: center bottom;
	height:35vw;
}

#smallerMask{
	height:35vw;
}
.contactInfo{
	position:relative;
	text-align: center;
	margin:auto;
	margin-top: 3em;
}
.infoContainer {
	width:20em;
	height:8em;
	margin:1.5em;
	position:relative;
	display:inline-block;
}
.noMargin{
	margin:0;
}
.contactInfo h2{
	color:#1c4479;
	font-family: "Amethysta";
}
.contactInfo h3{
	color:#1f1d1f;
	margin-top: -.2em;
	margin-bottom: .8em;
}
.contactInfo a{
	color: #1c4479;
}
.contactInfo a:link{
	text-decoration: none;
	border-bottom: 0.1em solid #1c4479;
}

.contactInfo a:hover{
	opacity:0.7;
}

.contactInfo a:visited{
	color: #1c4479;

}

.contactInfo a:active{
	opacity: 0.7;
}

.mailingInfo{
	position:relative;
	text-align: center;
}
.mailingInfo h1{
	color:#1c4479;
	font-family: "Amethysta";
}
.mailingInfo h3{
	color:#1f1d1f;
	margin:0.5em;
}
.mailingInfo iframe{
	margin-top: 1em;
	pointer-events: none;
}







